<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminPage.css')}}">
    <script src="https://kit.fontawesome.com/cfff9efdd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img src="/static/images/logoS4.png" alt="Logo S4 Suprimentos" id="logo">
        <form action="logout" method="post">
            <button type="submit" value="logout" id="btn-logout">Logout</button>
        </form>
        
    </header>

    <div id="container">
        <h1>Seja bem vindo Administrador</h1>
        <form action="create-record" method="post">
            <button type="submit" value="create-record" id="btn-create-record">Novo Registro +</button>
        </form>
        <div class="records-container">
            <table id="records">
                <thead>
                    <tr>
                        <th class="head-item">ID</th>
                        <th class="head-item">Nome</th>
                        <th class="head-item">Descrição</th>
                        <th class="head-item">Preço</th>
                        <th class="head-item"></th>
                        <th class="head-item"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="body-item">1</td>
                        <td class="body-item">Produto A</td>
                        <td class="body-item">Descrição do Produto A</td>
                        <td class="body-item">R$ 19.99</td>

                        <td class="body-item td-button">
                            <button class="crud-button"><i class="fa-solid fa-trash"></i></button>
                        </td>
                        <td class="body-item td-button">
                            <button class="crud-button"><i class="fa-solid fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="body-item">2</td>
                        <td class="body-item">Produto B</td>
                        <td class="body-item">Descrição do Produto B</td>
                        <td class="body-item">R$ 29.99</td>

                        <td class="body-item td-button">
                            <button class="crud-button"><i class="fa-solid fa-trash"></i></button>
                        </td>
                        <td class="body-item td-button">
                            <button class="crud-button"><i class="fa-solid fa-pen"></i></button>
                        </td>
                    </tr>
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>