<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminPage.css')}}">
    <script src="https://kit.fontawesome.com/cfff9efdd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img src="/static/images/logoS4.png" alt="Logo S4 Suprimentos" id="logo">
        <form action="logout" method="post">
            <button type="submit" value="logout" id="btn-logout">Logout</button>
        </form>
        
    </header>

    <div id="container">
        <h1>Seja bem vindo Administrador</h1>
        <div class="button-container">
            <form action="create-record" method="post">
                <button type="submit" value="create-record" id="btn-create-record">Novo Registro +</button>
            </form>
            <form action="update-record" method="post">
                <button type="submit" value="update-record" id="btn-create-record">Atualizar Registro</button>
            </form>
        </div>
        
        <div class="records-container">

            <table id="records">
                <thead>
                    <tr>
                        <th class="head-item">ID</th>
                        <th class="head-item">Nome</th>
                        <th class="head-item">Descrição</th>
                        <th class="head-item">Preço</th>
                        <th class="head-item"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <form action="/products/delete" method="post" enctype="application/x-www-form-urlencoded">
                                <td class="body-item">{{ product.id }}</td>
                                <td class="body-item">{{ product.name }}</td>
                                <td class="body-item">{{ product.description }}</td>
                                <td class="body-item">{{ product.price }}</td>
                                <input type="hidden" name="id" value="{{ product.id }}">
                                <td class="body-item td-button">
                                    <button type="submit" class="crud-button"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>