<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Registro - Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createRecord.css')}}">
    <link rel="shortcut icon" href="../../static/images/logoS4.png">
</head>
<body>
    <header class="header">
        <img src="/static/images/logoS4.png" alt="Logo S4 Suprimentos" id="logo">
        <form action="/back" method="post">
            <button type="submit" value="logout" id="btn-logout">Voltar</button>
        </form>
    </header>

    <form action="/products/insert" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Cadastrar produto</h1>
        <section class="insert">
            <div class="input-container">
                <div class="label-box">
                    <label for="name" id="name-label">Nome do produto: </label>
                    <input type="text" name="name" id="name-input" placeholder="Digite o nome do produto" required>
                </div>
                <div class="label-box">
                    <label for="description" id="description-label">Descrição: </label>
                    <input type="text" name="description" id="description-input" placeholder="Digite a descrição" required>
                </div>
                <div class="label-box">
                    <label for="price" id="price-label">Preço: </label>
                    <input type="text" name="price" id="price-input" placeholder="Preço (R$)" required>
                </div>
            </div>
            <button type="submit" value="insert" id="btn-insert">Cadastrar</button>
            
        </section>
    </form>
</body>
</html>