<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userPage.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
    <link rel="shortcut icon" href="../../static/images/logoS4.png">
</head>
<body>
    <header class="header">
        <img src="/static/images/logoS4.png" alt="Logo S4 Suprimentos" id="logo">
        <form action="logout" method="post">
            <button type="submit" value="logout" id="btn-logout">Logout</button>
        </form>
    </header>
    <div id="container">
        <h1>Seja bem vindo Usuário</h1>
        <div class="records-container">
            <table id="records">
                <thead>
                    <tr>
                        <th class="head-item">ID</th>
                        <th class="head-item">Nome</th>
                        <th class="head-item">Descrição</th>
                        <th class="head-item">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="body-item">{{ product.id }}</td>
                            <td class="body-item">{{ product.name }}</td>
                            <td class="body-item">{{ product.description }}</td>
                            <td class="body-item">{{ product.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>